<?xml version="1.0" ?>
<robot name="kuka_kr6r700sixx" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- kuka macro -->
    <xacro:include filename="$(find kuka_simulation)/config/gazebo_kuka_kr6r700sixx.urdf" />
    <!-- <xacro:include filename="$(find kuka_simulation)/config/camera.gazebo" /> -->
    <xacro:property name="camera_link" value="0.03" /> <!-- Size of square 'camera' box -->
  
    <link name="world"/>

    <!-- Camera -->
    <link name="camera_link">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
        <box size="0.06 ${camera_link} ${camera_link}"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
        <box size="0.06 ${camera_link} ${camera_link}"/>
            </geometry>
            <material name="red"/>
        </visual>

        <inertial>
            <mass value="1e-5" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>

    <!--mounting plate-->
    <link name="robot_mounting_plate">
        <visual>
            <geometry>
                <box size="0.18 0.18 0.026" />
            </geometry>
            <material name="light_gray">
                <color rgba="0.5 0.9 0.9 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.18 0.18 0.025" />
            </geometry>
        </collision>
    </link>
    <link name="robot_mounting_plate_top">
        <visual>
            <geometry>
                <box size="0.18 0.18 0.0" />
            </geometry>
            <material name="light_gray">
                <color rgba="0.5 0.9 0.9 1.0" />
            </material>
        </visual>
    </link>

    <!-- long table -->
    <link name="long_table">
        <visual>
            <geometry>
                <box size="2.0 0.5 0.855" />
            </geometry>
            <material name="light_gray">
                <color rgba="0.9 0.9 0.9 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="2.0 0.5 0.855" />
            </geometry>
        </collision>
    </link>
    <link name="long_table_ref">
        <visual>
            <geometry>
                <box size="0.0 0.0 0" />
            </geometry>
            <material name="light_gray">
                <color rgba="0.9 0.9 0.9 1.0" />
            </material>
        </visual>
    </link>

    <!-- short table -->
    <link name="short_table">
        <visual>
            <geometry>
                <box size="0.5 0.5 0.855" />
            </geometry>
            <material name="light_gray">
                <color rgba="0.9 0.9 0.9 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.5 0.5 0.855" />
            </geometry>
        </collision>
    </link>
    <link name="short_table_ref">
        <visual>
            <geometry>
                <box size="0.0 0.0 0" />
            </geometry>
            <material name="light_gray">
                <color rgba="0.9 0.9 0.9 1.0" />
            </material>
        </visual>
    </link>

    <!-- left wall -->
    <link name="left_wall">
        <visual>
            <geometry>
                <box size="2.75 0.01 2.10" />
            </geometry>
            <material name="light_gray">
                <color rgba="0.9 0.9 0.9 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="2.75 0.01 2.10" />
            </geometry>
        </collision>
    </link>
    <link name="left_wall_ref">
        <visual>
            <geometry>
                <box size="0.0 0.0 0" />
            </geometry>
            <material name="light_gray">
                <color rgba="0.9 0.9 0.9 1.0" />
            </material>
        </visual>
    </link>


    <!-- back wall -->
    <link name="back_wall">
        <visual>
            <geometry>
                <box size="0.01 1.64 2.10" />
            </geometry>
            <material name="light_gray">
                <color rgba="0.9 0.9 0.9 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.01 1.64 2.10" />
            </geometry>
        </collision>
    </link>

    <!-- right wall -->
    <link name="right_wall">
        <visual>
            <geometry>
                <box size="2.75 0.01 2.10" />
            </geometry>
            <material name="light_gray">
                <color rgba="0.9 0.9 0.9 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="2.75 0.01 2.10" />
            </geometry>
        </collision>
    </link>

    <joint name="camera_joint" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="0.3859 -0.8837 0.5477" rpy="-2.5334 0.0440 -0.0288"/>
        <parent link="world"/>
        <child link="camera_link"/>
    </joint>

    <!-- generate an optical frame http://www.ros.org/reps/rep-0103.html#suffix-frames
      so that ros and opencv can operate on the camera frame correctly -->
    <joint name="camera_optical_joint" type="fixed">
        <!-- these values have to be these values otherwise the gazebo camera image
            won't be aligned properly with the frame it is supposedly originating from -->
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
    </joint>

    <link name="camera_link_optical">
    </link>

    <joint name="robot_mounting_plate_top_to_world" type="fixed">
        <origin xyz="0.0 0.0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="robot_mounting_plate_top"/>
    </joint>

    <joint name="robot_mounting_plate_to_robot_mounting_plate_top" type="fixed">
        <origin xyz="0 0 -0.013" rpy="0 0 0" />
        <parent link="robot_mounting_plate_top"/>
        <child link="robot_mounting_plate"/>
    </joint>

    <joint name="long_table_ref_to_world" type="fixed">
        <origin xyz="-0.276 -0.676 -0.026" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="long_table_ref"/>
    </joint>

    <joint name="long_table_to_long_table_ref" type="fixed">
        <origin xyz="1.0 0.25 -0.4275" rpy="0 0 0" />
        <parent link="long_table_ref"/>
        <child link="long_table"/>
    </joint>

    <joint name="short_table_ref_to_world" type="fixed">
        <origin xyz="-0.276 -0.176 -0.026" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="short_table_ref"/>
    </joint>

    <joint name="short_table_to_short_table_top" type="fixed">
        <origin xyz="0.25 0.25 -0.4275" rpy="0 0 0" />
        <parent link="short_table_ref"/>
        <child link="short_table"/>
    </joint>

    <joint name="left_wall_ref_to_world" type="fixed">
        <origin xyz="-0.916 -0.92 -0.881" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="left_wall_ref"/>
    </joint>

    <joint name="left_wall_ref_to_left_wall" type="fixed">
        <origin xyz="1.375 0.0 1.05" rpy="0 0 0" />
        <parent link="left_wall_ref"/>
        <child link="left_wall"/>
    </joint>

    <joint name="left_wall_ref_to_back_wall" type="fixed">
        <origin xyz="-0.01 0.82 1.05" rpy="0 0 0" />
        <parent link="left_wall_ref"/>
        <child link="back_wall"/>
    </joint>

    <joint name="left_wall_ref_to_right_wall" type="fixed">
        <origin xyz="1.375 1.64 1.05" rpy="0 0 0" />
        <parent link="left_wall_ref"/>
        <child link="right_wall"/>
    </joint>

    <joint name="robot_to_world" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="base_link"/>
    </joint>
</robot>

