<?xml version="1.0"?>
<configuration>
   <configSections>
      <!-- AF sections -->
      <section name="Ade.AdeComponentFramework.Components" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
      <!-- Custom sections -->
      <section name="KukaRoboter.SmartHMI.ViewConfiguration" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
      <section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
      <section name="RSIMonitor.CustomConfigSection" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl"/>
      <section name="KukaRoboter.SmartHMI.LegacySupport.Authorization" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
      <section name="KukaRoboter.SmartHMI.WebBrowserConfiguration" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
   </configSections>

   <Ade.AdeComponentFramework.Components type="Ade.Components.ComponentReferenceConfiguration, Ade.Components">
      <Component LoadOnDemand="true" Type="RSIMonitor.RSIMonitorViewModel, RSIMonitor" />
   </Ade.AdeComponentFramework.Components>

   <KukaRoboter.SmartHMI.ViewConfiguration type="KukaRoboter.SmartHMI.UIFramework.ViewManager.ViewConfiguration, SmartHMI">
      <View SystemName="RSIMonitor" Caption="%RSIMonitor"
            Type="RSIMonitor.View.RSIMonitorView, RSIMonitor"
            ViewModel="RSIMonitor.RSIMonitorViewModel"
            Display="Info" />
      <View SystemName="SetupPopup" Caption="%Setup"
            Type="RSIMonitor.SetupPopupView, RSIMonitor"
            ViewModel="RSIMonitor.RSIMonitorViewModel"
            Display="Floating.GeneralPopup" />
      <View SystemName="ZoomPopup" Caption="%Zoom"
            Type="RSIMonitor.ZoomPopupView, RSIMonitor"
            ViewModel="RSIMonitor.RSIMonitorViewModel"
            Display="Floating.GeneralPopup" />
      <View SystemName="ConfigPopup" Caption="%Config"
            Type="RSIMonitor.ConfigPopupView, RSIMonitor"
            ViewModel="RSIMonitor.RSIMonitorViewModel"
            Display="Floating.GeneralPopup"/>
     
     <!-- Online-Doku -->
     <View SystemName="DocumentationIndexRSI" Caption="Help#OnlineDocViewCaption"
			      Type="KukaRoboter.SmartHMI.PlugIns.WebBrowser.WebBrowserView, SmartHMI"
			      ViewModel="KukaRoboter.SmartHMI.PlugIns.WebBrowser.WebBrowserViewModel"
			      Display="Main" />
      
   </KukaRoboter.SmartHMI.ViewConfiguration>

   <KukaRoboter.SmartHMI.LegacySupport.Authorization type="KukaRoboter.SmartHMI.LegacySupport.Authorization.GrantedRightsConfiguration, KukaRoboter.SmartHMI.LegacySupport">
      <GrantedRights UserMode="20">RSIMonitor.Expert</GrantedRights>
   </KukaRoboter.SmartHMI.LegacySupport.Authorization>

   <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
      <MenuRoot SystemName="MainMenu">
         <MenuFolder DisplayName="MenuBar#Monitor">
            <MenuItem DisplayName="%RSI Monitor">
               <CommandCall Target="ViewManager.OpenView">
                  <Argument Name="ViewName">RSIMonitor</Argument>
               </CommandCall>
            </MenuItem>
         </MenuFolder>

        <!-- Online-Doku -->
        <MenuFolder DisplayName="MenuBar#Help" SystemName="Help" MergeOrder="700">
          <MenuFolder DisplayName="MenuBar#Documentation" SystemName="HelpDocumentation" MergeOrder="300">
            <MenuItem DisplayName="Robot Sensor Interface" MergeOrder="100">
              <CommandCall Target="WebBrowser.Navigate">
                <Argument Name="RootConfiguration">DocumentationIndexRSI</Argument>
              </CommandCall>
            </MenuItem>
          </MenuFolder>
        </MenuFolder>
      </MenuRoot>
   </KukaRoboter.SmartHMI.Menu>

  <!-- Online-Doku -->
  <KukaRoboter.SmartHMI.WebBrowserConfiguration type="KukaRoboter.SmartHMI.PlugIns.WebBrowser.RootConfigurationCollection, SmartHMI">
    <RootConfigurations>
      <MultiCultureBrowserRoot SystemName="DocumentationIndexRSI"
				 UrlFormatString="C:\KRC\Help\{0}\doc_RobotSensorInterface_V3.3.htm" />
    </RootConfigurations>
  </KukaRoboter.SmartHMI.WebBrowserConfiguration>
</configuration>
